 {{#partial "contenido"}}
 <div class="container-fluid">
 <!-- Masthead-->
           <header class="masthead">
               <div class="container">
                   <div class="masthead-subheading">Bienvenido a Patitas</div>
                   <div class="masthead-heading h3">Gracias por visitarnos</div>
                   <a class="btn btn-primary btn-xl text-uppercase" href="/login">Login</a>
               </div>
           </header>
           <!-- Services-->
           <section class="page-section" id="services">
               <div class="container">
                   <div class="text-center">
                       <h2 class="section-heading text-uppercase">Conocenos</h2>
                   </div>

                   <div class="row row-cols-3 text-center" style="margin-block: 1% 20%;">
                        <div class="card" style="align-items:center;">
                            <span class="fa-stack fa-4x">
                               <i class="fas fa-circle fa-stack-2x text-primary"></i>
                               <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                            </span>
                            <div class="card-body">
                              <h5 class="card-title">多Quienes somos?</h5>
                              <p class="card-text">Somos alumnos de la UTN que dise単amos esta pagina web porque amamos las mascotas y queremos lo mejor para ellas.</p>
                            </div>
                        </div>
                        <div class="card" style="align-items:center;">
                          <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-dog fa-stack-1x fa-inverse"></i>
                          </span>
                          <div class="card-body">
                            <h5 class="card-title">多Que hacemos?</h5>
                            <p class="card-text">Ademas de tener un foro donde puedas gestionar a tus mascotas, uno de nuestros principales objetivos es poder encontrarle a las mascotas perdidas un hogar o si vos perdiste a tu mascota ayudarte a encontrarla.</p>
                          </div>
                        </div>
                        <div class="card" style="align-items:center;">
                          <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-info fa-stack-1x fa-inverse"></i>
                          </span>
                          <div class="card-body">
                            <h5 class="card-title">多Que queremos?</h5>
                            <p class="card-text">Queremos que nos contactes lo antes posible para poder sacarte cualquier inquietud.</p>
                          </div>
                        </div>
                  </div>
               </div>
       </section>
 </div>
 {{/partial}}

 {{>layout.hbs}}
