 {{#partial "contenido"}}
 <div class="container-fluid">
 <!-- Masthead-->
           <header class="masthead">
               <div class="container">
                   <div class="masthead-subheading">Bienvenido a Patitas</div>
                   <div class="masthead-heading h3">Gracias por visitarnos</div>
                   <a class="btn btn-primary btn-xl text-uppercase" href="/login">Login</a>
               </div>
           </header>
           <!-- Services-->
           <section class="page-section" id="services">
               <div class="container">
                   <div class="text-center">
                       <h2 class="section-heading text-uppercase">Services</h2>
                       <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                   </div>
                   <div class="row text-center">
                       <div class="col-md-4">
                           <span class="fa-stack fa-4x">
                               <i class="fas fa-circle fa-stack-2x text-primary"></i>
                               <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                           </span>
                           <h4 class="my-3">多Quienes somos?</h4>
                           <p class="text-muted">Somos alumnos de la UTN que dise単amos esta pagina web porque amamos las mascotas y queremos lo mejor para ellas.</p>
                       </div>
                       <div class="col-md-4">
                           <span class="fa-stack fa-4x">
                               <i class="fas fa-circle fa-stack-2x text-primary"></i>
                               <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                           </span>
                           <h4 class="my-3">多Que hacemos?</h4>
                           <p class="text-muted">Ademas de tener un foro donde puedas gestionar a tus mascotas, uno de nuestros principales objetivos es poder encontrarle a las mascotas perdidas un hogar o si vos perdiste a tu mascota ayudarte a encontrarla.</p>
                       </div>
                       <div class="col-md-4">
                           <span class="fa-stack fa-4x">
                               <i class="fas fa-circle fa-stack-2x text-primary"></i>
                               <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                           </span>
                           <h4 class="my-3">多Que queremos?</h4>
                           <p class="text-muted">Queremos que nos contactes lo antes posible para poder sacarte cualquier inquietud.</p>
                       </div>
                   </div>
               </div>
           </section>
 </div>
 {{/partial}}

 {{>layout.hbs}}