<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Asociacion Patitas</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/css/style.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-md justify-content-between fixed-top">
            <div class="container-fluid">
                <div class="navbar">
                    <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="nav-link text-uppercase h5" style="text-color: #E19DFB" href="/mascotas">Mascotas</a>
                            </li>
                            <li class="list-inline-item">
                                <span>¿Encontraste una Mascota?<a style="text-color: #E19DFB" href="/mascotas/encontrada">Avisanos</a></span>
                            </li>
                        </div>
                    </ul>
                </div>
                <span class="navbar-brand mx-auto d-block text-center h2 text-uppercase" href="/">Patitas</span>
                <div class="navbar w-75">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            {{#if botonSignUp}}
                            <a class="btn text-white" style="background-color: #E19DFB" href="/signup">Registrarse</a>
                            {{else}}
                            {{#if botonLogOut}}
                            <a class="btn text-white" style="background-color: #E19DFB" href="/sessionOut">Cerrar Sesion</a>
                            {{else}}
                            <a class="btn text-white" style="background-color: #E19DFB" href="/login">Iniciar Sesion</a>
                            {{/if}}
                            {{/if}}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="contenido">
            {{#block "contenido"}}
            {{/block}}
        </div>
        <!-- Footer -->
        <div class="mt-auto">
            <footer class="text-center text-white" style="background-color: #E19DFB">
              <!-- Grid container -->
              <div class="container-fluid">
                <!-- Section: Links -->
                <div class="mt-5">
                  <!-- Grid row-->
                  <div class="row text-center d-flex justify-content-center pt-1">
                    <!-- Grid column -->
                    <div class="col-md-2">
                      <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-black">About us</a>
                      </h6>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2">
                      <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-black" style="margin-right:20px">Products</a>
                      </h6>
                    </div>
                    <!-- Grid column -->
      	    		<div class="col-md-2" style="display:flex ">
                        <!--Grid Row-->
                  <div class="row text-center d-flex justify-content-center pt-1">
                    <div class="col-md-2">
                      <h3 class="text-uppercase font-weight-bold">
                      	<a href="#!" class="text-black" style="font-family: Impact, Arial Black, Arial">Patitas</a>
                    	</h3>
                    </div>
      	    			</div>
      	    			<!--Grid Row-->
                    	</div>
                    <!-- Grid column -->
                    <div class="col-md-2">
                      <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-black" style="margin-left:20px">Help</a>
                      </h6>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2">
                      <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-black">Contact</a>
                      </h6>
                    </div>
                    <!-- Grid column -->
                  </div>
                  <!-- Grid row-->
                </div>
                <!-- Section: Links -->
                <hr class="my-1" />
                <!-- Section: Social -->
                <div class="text-center" style="flex:center justify-content:center">
                  <a href="" class="text-black me-4">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a href="" class="text-black me-4">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="" class="text-black me-4">
                    <i class="fab fa-google"></i>
                  </a>
                  <a href="" class="text-black me-4">
                    <i class="fab fa-instagram"></i>
                  </a>
                  <a href="" class="text-black me-4">
                    <i class="fab fa-linkedin"></i>
                  </a>
                  <a href="" class="text-black me-4">
                    <i class="fab fa-github"></i>
                  </a>
                </div>
                <!-- Section: Social -->
              </div>
              <!-- Grid container -->
              <!-- Copyright -->
              <div
                   class="text-center p-3"
                   style="background-color: rgba(0, 0, 0, 0.2)"
                   >
                © 2021 Copyright:
                <a class="text-white" href="https://dds-jv.github.io/"
                   >Diseño2021-Grupo9</a
                  >
              </div>
              <!-- Copyright -->
            </footer>
        </div>
     </body>
    <!-- Core theme JS-->
    <!-- <script src="js/scripts.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> -->
</html>