{{#partial "contenido"}}
<form action="/session" method="POST">
    <div class="mb-3">
      <label for="usuarioInput" class="form-label">Usuario</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese su usuario" value="{{ nombreUsuario }}">
    </div>
    <div class="mb-3">
      <label for="passwordInput" class="form-label">Contraseña</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ingrese su contraseña" value="{{ password }}">
    </div>

    <button type="submit" class="btn btn-primary">Ingresar</button
</form>
{{/partial}}

{{>layout.hbs}}